body {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #161616;
  position: relative !important;
}
.header a {
  text-decoration: none;
}
.productImage img {
  height: 9rem;
  width: 9rem;
}
.cartDetails {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cartLeftSection {
  display: flex;
  column-gap: 3rem;
  background-color: #f2f2f2;
  width: 70%;
  padding: 2rem 2rem;
  flex-direction: column;
  border-radius: 1rem;
}
.quantitySelector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.quantitySelector button {
  padding: 0.5rem 1rem;
  font-size: 18px;
  background-color: #70908b;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantitySelector input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 38px;
}

#orderbtn {
  padding: 1.5rem 3.5rem;
  position: relative;
  top: 4rem;
  background-color: #70908b;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: large;
}

.banner {
  text-align: center;
  padding: 0.3rem;
  font-size: smaller;
  font-family: "poppins";
}

#removeProduct {
  background-color: transparent;
  color: black;
  text-decoration: underline;
  cursor: pointer;

  font-size: larger;
  border: none;
}
#cart-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 5rem;
  column-gap: 1rem;
}

#cartTitleBox span {
  color: gray;
}

.cartRightSection {
  background-color: rgb(238, 236, 236);
  width: 30%;

  border-radius: 1rem;
  height: 40vh;
}
.cartRightSection h3 {
  padding: 3rem 2rem 1rem 2rem;
  text-decoration: underline;
}
.priceDetails {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.priceShip {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.cartProductBox {
  display: flex;
  gap: 4rem;
  margin-bottom: 24px;
}
#placeOrder {
  cursor: pointer;
  padding: 1.5rem 4rem;
  background-color: #70908b;
  display: flex;
  margin-left: 2rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: medium;
}
.priceDetails span {
  color: red;
}

/* .cartSummary {
  margin: 5rem 0rem 2rem 7rem;
}
.cartHeading {
  display: flex;
  margin: 0rem 0rem 0rem 12rem;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: rgb(179, 175, 175);
}
.cart-container {
  display: flex;
  column-gap: 8rem;
}

.productDetailsBox {
  display: flex;
  margin: 0rem 0rem 0rem 8rem;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  width: 54%;
}
.orderSummary {
  background-color: #f9f9f9;
  padding: 2rem 2rem;
  border-radius: 1rem;
  width: 24%;
}
.orderSummary h3 {
  margin: 1rem 0rem;
}
.orderSummary p {
  margin: 1rem 0rem;
}
.orderSummary div h2 {
  margin: 1rem 0rem;
}
.placeOrder {
  margin: 1rem 0rem;
  padding: 0.5rem 2rem;
  background-color: #08a891;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
  color: white;
}
.quantitySelector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 6px 18px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  user-select: none;
}

.qty-btn {
  background: none;
  border: none;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  outline: none;
  transition: color 0.2s ease;
}

.qty-btn:hover {
  color: #000;
}

#quantity {
  margin: 0 10px;
  min-width: 20px;
  text-align: center;
}

.divider2 {
  width: 60%;
  margin: 1rem 2rem 2rem 8rem;
}
.imageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.quantityAndTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.qty-total-heading {
  display: flex;
  gap: 6rem;
}
.productTitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.productTitle h3 {
  margin-top: 4rem;
}
.productTitle p {
  font-size: smaller;
  color: #999;
}
.removeBtn {
  display: flex;

  gap: 4px;
}
#delete {
  background: transparent;
  border: none;
  cursor: pointer;
} */
