body {
  background-color: whitesmoke;
}
* {
  margin: 0;
  padding: 0;
}
.product-section {
  display: flex;
  height: 86vh;
  background-color: white;

  align-items: center;
  column-gap: 5rem;
  /* padding: 0 6rem; */
  margin: 1.5rem 4rem;
  border-radius: 12px;
}
.product-details {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  padding-right: 10rem;
}

.add-to-cart {
  padding: 1rem 2rem;
  background-color: #70908b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#shoeSize {
  padding: 1rem 1rem;

  background-color: white;
  color: #70908b;
  border-color: #70908b;
  border-radius: 4px;
  cursor: pointer;
}
.product-title {
  font-size: xx-large;
  font-family: "poppins";
  font-weight: 600;
  letter-spacing: 1px;
}

.header {
  background-color: #161616;
  position: sticky;
}
.header a {
  text-decoration: none;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 24px;
  cursor: pointer;

  justify-content: left;
}

.star-rating span {
  color: #ccc;
  transition: color 0.3s;
}

.star-rating span.hover,
.star-rating span.selected {
  color: gold;
}

#size-alert {
  padding: 1rem 0rem;
}

.star-rating span {
  color: #ccc;
  transition: color 0.3s;
  cursor: default;
}

.star-rating span.selected {
  color: gold;
}

#mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;

  cursor: zoom-in;
}

#zoomBox {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  display: none;
  pointer-events: none;
  z-index: 10;
}

.pop-up {
  position: fixed;
  bottom: 4rem;
  right: 32rem;
  background-color: #70908b;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: "Playfair Display", serif;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px); /* start lower */
}

.pop-up.show {
  animation: slideUpFade 5.5s ease forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
